<div class="container">
    <h2 class="border border-primary text-secondary  border-left-0 border-right-0 border-top-0 text-center">Listado de Asesores</h2>

    <div class="my-2 text-left">
      <button class="btn-primary btn btn-rounded" type="button" [routerLink]="[ '/asesores/form']">Crear Asesor</button>
    </div>
      <table class="table table-bordered table-striped">
        <thead class="thead-dark text-center">
          <tr>
            <th>NOMBRE</th>
            <th>ESPECIALIDAD</th>
            <th>ACCION</th>
          </tr>
          </thead>
          <tbody>
            <tr *ngFor="let asesor of asesores">
              <td>{{asesor.nombre}}</td>
              <td>{{asesor.especialidad}}</td>
              <td class="text-center">
                <button type="button" name="button" [routerLink]="[ '/asesores/form', asesor.id ]" class="btn btn-success">Editar</button>
                <button type="button" (click)="delete(asesor)" class="btn btn-danger" name="eliminar">Eliminar</button>
              </td>
            </tr>
          </tbody>
      </table>
</div>
